name: CI
on:
  pull_request: {}
permissions: {}
jobs:
  checks:
    name: checks
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      with:
        fetch-depth: 0 # for spotless
    - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654
      with:
        distribution: 'temurin'
        java-version: 8
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2
    - name: license header check
      run: ./gradlew spotlessCheck -PspotlessFrom=origin/${{ github.base_ref }}
    - name: gradle
      run: ./gradlew check javadoc
